Notifier#order_shipped

<table>
 <tr><th colspan="2">Qty</th><th> Description</th></tr>
<%= render @order.line_items %>
</table>

<%= @greeting %>, find me in app/views/app/views/notifier/order_shipped.text.erb
